name: ci

env:
  PROJECT_NAME: Lunet

on:
  push:
    paths-ignore:
    - 'doc/**'
    - 'img/**'
    - 'changelog.md'
    - 'readme.md'
  pull_request:

jobs:
  build:
    runs-on: 'windows-latest'
    steps:
      - name: "Build, Test, Pack and Publish"
        uses: xoofx/.github/.github/actions/dotnet-releaser-action@main
        with:
          NUGET_TOKEN: ${{ secrets.NUGET_TOKEN }}

      - name: "Build website with local lunet"
        shell: pwsh
        working-directory: site
        run: dotnet ../src/Lunet/bin/Release/net10.0/lunet.dll --stacktrace build --dev
